.neos-module {
	height: 100vh;
}

.neos-module-wrap {
	height: calc(100% - 183px);
}

/**
Tabs setup via https://codeconvey.com/Tutorials/simple-css-tabs-without-javascript/
Should probably be done nicer...
*/

.tab-wrap {
	transition: 0.3s box-shadow ease;
	flex-wrap: wrap;
	position: relative;
	list-style: none;
	background-color: #222222;
	margin: 40px 0;
	height: calc(100% - 62px);
}

.tab {
	display: none;
}

.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1),
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2),
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3),
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4),
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:checked + label {
	cursor: default;
	color: #00b5ff;
	background: #333333;
}

.tab:checked + label:hover,
.tab + label:hover {
	color: #00b5ff;
	background: #333333;
}

.tab + label {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: whitesmoke;
	flex-grow: 0;
	text-align: center;
	user-select: none;
	transition: 0.3s background-color ease;
	height: 50px;
	box-sizing: border-box;
	padding: 15px;
	margin-bottom: 0;
}

.tab__content {
	padding: 10px 25px;
	background-color: transparent;
	position: absolute;
	width: 100%;
	height: calc(100% - 50px);
	z-index: -1;
	opacity: 0;
	left: 0;
	transform: translateY(-3px);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
