.neos-module {
	height: 100vh;
}

.neos-module-wrap {
	height: calc(100% - 183px);
}

/**
Tabs setup via https://codeconvey.com/Tutorials/simple-css-tabs-without-javascript/
Should probably be done nicer...
*/

.tab-wrap {
	-webkit-transition: 0.3s -webkit-box-shadow ease;
	transition: 0.3s -webkit-box-shadow ease;
	transition: 0.3s box-shadow ease;
	transition: 0.3s box-shadow ease, 0.3s -webkit-box-shadow ease;
	flex-wrap: wrap;
	position: relative;
	list-style: none;
	background-color: #222222;
	margin: 40px 0;
	height: calc(100% - 62px);
}

.tab {
	display: none;
}

.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1),
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2),
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3),
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4),
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
	opacity: 1;
	-webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
	transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
	transition: 0.5s opacity ease-in, 0.8s transform ease;
	transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
	text-shadow: 0 0 0;
}

.tab:checked + label {
	cursor: default;
	color: #00b5ff;
	background: #333333;
}

.tab:checked + label:hover,
.tab + label:hover {
	color: #00b5ff;
	background: #333333;
}

.tab + label {
	cursor: pointer;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	        align-items: center;
	text-decoration: none;
	color: whitesmoke;
	-webkit-box-flex: 0;
	        flex-grow: 0;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transition: 0.3s background-color ease;
	transition: 0.3s background-color ease;
	height: 50px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 15px;
	margin-bottom: 0;
}

.tab + label > a {
	margin-left: 1rem;
	opacity: 0.25;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.tab + label > a:hover {
		opacity: 0.8;
		color: #00b5ff !important;
	}

.tab__content {
	padding: 10px 25px;
	background-color: transparent;
	position: absolute;
	width: 100%;
	height: calc(100% - 50px);
	z-index: -1;
	opacity: 0;
	left: 0;
	-webkit-transform: translateY(-3px);
	    -ms-transform: translateY(-3px);
	        transform: translateY(-3px);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.neos.neos-module .local-markdown * {
		line-height: 1.5;
	}

.neos.neos-module .local-markdown h1 {
		font-size: 2rem;
		line-height: 2.5;
	}

.neos.neos-module .local-markdown h2 {
		font-size: 1.5rem;
		line-height: 2;
	}

.neos.neos-module .local-markdown h3 {
		font-size: 1.25rem;
		line-height: 1.75;
	}

.neos.neos-module .local-markdown h4 {
		font-size: 1rem;
	}

.neos.neos-module .local-markdown ul {
		list-style: disc;
		padding-left: 1rem;
	}

.neos.neos-module .local-markdown ol {
		list-style: decimal;
		padding-left: 1rem;
	}

.neos.neos-module .local-markdown li {
		list-style: initial !important;
	}

.neos.neos-module .local-markdown a {
		color: #00b5ff;
	}

.neos.neos-module .local-markdown a:hover {
			text-decoration: underline;
		}
